<section class="content">
  <div class="profile">
    <img src="../../../assets/fridolin.png">
  </div>
  <div class="about">
    <h2>NIYONSABA Fridolin</h2>
    <p>
      I am a Christian, Software Engineer who is always learning, my lifestyle evolves around 5 things.
    </p>
    <ol>
      <li>Spiritual Growth</li>
      <li>Family</li>
      <li>Health</li>
      <li>Career</li>
      <li>Social life</li>
    </ol>
    <p>I enjoy empowering and be empowered</p>
    <div class="icons">
      <a href="tel:0788232369"><img src="../../../assets/call.svg"></a>
      <a href="https://wa.me/250788232369" target="_blank"><img src="../../../assets/whatsapp.png"></a>
      <a href="https://twitter.com/Fridolin_R" target="_blank"><img src="../../../assets/twitter.svg"></a>
      <a href="https://www.instagram.com/fridolin_r/" target="_blank"><img src="../../../assets/instagram.png"></a>

    </div>
    <div class="contact"></div>
  </div>
</section>
